<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jogoteca</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
  </head>
  <body>
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul id="messages" class="list-unstyled">
                {% for message in messages %}
                    <li class="alert alert-success">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        
        <h1 style="width: 100%; text-align: center;">{{ titulo }}</h1>
        <form method="POST"
        {% if request.form['registro_usuario'] %}
            action="{{ url_for('autenticar_novo_usuario') }}"
        {% else %}
            action="{{ url_for('autenticar') }}">
        {% endif %}
            <input type="hidden" name="proxima" value="{{ proxima or url_for('index') }}">
            <p><label>Nome de usuário:</label> <input class="form-control" type="text" name="usuario" required></p>
            <p><label>Senha:</label> <input class="form-control" type="password" name="senha" required></p>
            
            {% if request.form['registro_usuario'] %}
                <input type="hidden" name="registro_usuario" value="{{ request.form['registro_usuario'] }}"
                <p><label>Confirme sua senha:</label> <input class="form-control" type="password" name="senha_check" required></p>
                <p><button class="btn btn-success" type="submit">Registrar</button></p>
            {% else %}
                <p><button class="btn btn-success" type="submit">Entrar</button></p>
         {% endif %}
        </form>


        {% if request.form['registro_usuario'] %}
            <label style="text-align: center; width:100%;">Já possui uma conta? Faça seu login!</label>
            <form method="POST" action="{{ url_for('login') }}">
                <button type="submit" class="btn btn-primary botao form-control">Fazer Login</button>
            </form>
        {% else %}
            <label style="text-align: center; width:100%;">Não possui está cadastrado ainda? Faça seu registro!</label>
            <form method="POST" action="{{ url_for('registrar_usuario') }}">
                <input type="hidden" name="registro_usuario" value="true"> 
                <button type="submit" class="btn btn-primary botao form-control">Registrar</button>
            </form>
        {% endif %}

    </div>
</body>
</html>